{% extends 'includes/layout.html' %}

{% block title %}
    Ex2
{% endblock %}


{% block body %}
    <h1>Ex2 template here</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis numquam dignissimos, blanditiis esse, ipsam aliquam vel, impedit quod temporibus ut quidem? Eum ipsa doloremque sequi cumque consequuntur aliquid repellendus recusandae.</p>

    <h1>Title : {{ name }}</h1>
    <h3>Message : {{ message }}</h3>
    <h2>All Post</h2>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'cbv:redirect-task' pk=post.id %}">{{ post.name }}</a>
            </li>
        {% empty %}
            <li>No Post yet.</li>
        {% endfor %}
    </ul>

{% endblock %}