{% extends 'includes/layout.html' %}

{% block title %}
    Ex2
{% endblock %}


{% block body %}
    <h1>Ex2 template here</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis numquam dignissimos, blanditiis esse, ipsam aliquam vel, impedit quod temporibus ut quidem? Eum ipsa doloremque sequi cumque consequuntur aliquid repellendus recusandae.</p>

    <h1>Title : {{ name }}</h1>
    <h3>Message : {{ message }}</h3>
    <h2>Post :- id : {{ post.id }} | Name : {{ post.name }}</h2>
{% endblock %}